
/* body{
    background: url(./assets/order-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;

    overflow: hidden;
    background-attachment: fixed;


} */
.body-container{
    margin-top: -9px;
    margin-left: -10px;
    width:98.8vw ;
    height: 60%;
    overflow: hidden;
    background-color: rgb(51, 50, 50);
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: rgb(255, 238, 0);
    font-weight: 700;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}
.list-item{
margin-left: -30%;
align-items: center;
cursor: pointer;
font-family: 'Red Rose';

}

.logo{
margin-left: 80px;
z-index: 2;
}
.order{
    display: block;
    position: relative;
    padding: 7px 15px;
    border: none;
    border-radius: 3px;
    background:transparent;
    color: #8e8c1f;
    border: 2px solid #8e8c1f;
    border-radius: 10px;
    font-family: 'Red Rose';
    font-size: 22px;
    margin-top: 15px;
    margin-right: 120px;
    margin-bottom: 20px;
    cursor: pointer;
}
.hero{
    display: flex;
    flex-direction: column;
    flex: 0.5;

}
 .hero-heading{
    font-size: 60px;
    display: block;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
    margin-left:40px;
    width: 550px;
    padding: 30px;
    font-family: 'arial';
    font-weight: 800;
    letter-spacing: 2px;
}
p{
    display: flex;
    flex-direction: row;
}
.details{
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 410px;
    color: rgb(227, 227, 227);
    font-family: 'arial';
    margin-top: -17%;
    margin-left: 60%;
    line-height: 25px;
    font-size: 20px;
}
.order-1{
    width: 100vw;
    overflow: hidden;
}